@model task_two.Models.Messege

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Messege</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameMessege)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameMessege)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SenderEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResivedEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResivedEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactMessege)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactMessege)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMessege">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
