@model IEnumerable<task_two.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .table {
        zoom: 80%;
    }
</style>
<h2>Index</h2>

<p>
    <a asp-action="Create" hidden>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th hidden>
                Password
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Username
            </th>
            <th>
                Date Register
            </th>
            <th>
                City
            </th>
            <th>
                Gender
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRegister)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genderenum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" hidden>Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" hidden>Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" hidden>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
