@model IEnumerable<task_two.Models.Category>
@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }


<style>
    .desc {
        max-width: 500px;
    }
    .name {
        max-width: 120px;
        padding-left: 10px !important;
    }
    .url {
        max-width: 120px;
    }
    tr {
        background-color: transparent;
        zoom: 80%;
    }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="name">
               Sort by Name
            </th>
            <th class="url">
               Sort By IMG
            </th>
            <th class="desc">
              Sort By Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td class="name">
        @Html.DisplayFor(modelItem => item.NameCategory)
    </td>
    <td class="url">
        <img src=@Url.Content("~/Image/" + item.UrlCategory) asp-append-version="true" style="border-radius:50%;" width="100px" height="100px" />
    </td>
    <td class="desc">
        @Html.DisplayFor(modelItem => item.Describtion)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.IdCategory">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.IdCategory">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.IdCategory">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>
