@model IEnumerable<task_two.Models.Prodact>

@{
    ViewData["Title"] = "Index";
    
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Description
            </th>
            <th>
                Units
            </th>
            <th>
                Price
            </th>
            <th>
                Category ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameProdact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Describtion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Units)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.NameCategory)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProdact">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProdact">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProdact">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
