@model Tuple<IEnumerable<task_two.Models.Cart>, IEnumerable<task_two.Models.Prodact>, IEnumerable<task_two.Models.Bill>>
@{
    ViewData["Title"] = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;
    var price = 0;}
<div class="contact-box-main">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">

                    <form asp-controller="User" asp-action="buy" method="post">
                        <div class="center-block" style="padding: 4%; background-color: #1196CC;">
                            <table style="width:100% ; color:white;">
                                <tr>
                                    <th hidden>IdProdact</th>
                                    <th>Price</th>
                                    <th>NameProdact</th>
                                </tr>
                                @foreach (var item in Model.Item1)
                                {
                                    @if (item.id_user == id)
                                    {
                                        @if (item.order == false)
                                        {

                                            <tr>
                                                <td hidden>@id</td>
                                                <td>@item.CartProdactTrans.Price $</td>
                                                <td>@item.CartProdactTrans.NameProdact</td>
                                            </tr>

                                            price += item.CartProdactTrans.Price;
                                        }
                                    }
                                    else
                                    {

                                        <tr hidden>
                                            <td>@id</td>
                                            <td>@item.CartProdactTrans.Price $</td>
                                            <td>@item.CartProdactTrans.NameProdact</td>
                                        </tr>
                                    }

                                }

                            </table>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" placeholder="Customer Name" id="NameBill" class="form-control" name="NameBill" required data-error="Please enter your Name">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" placeholder="PhoneNumber" id="PhoneNumber" class="form-control" name="PhoneNumber" required data-error="Please enter your Phone Number">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>   
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Price" name="Price" value="@price" required data-error="Please enter your name" readonly>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>


                        <div class="submit-button text-center">
                            <button class="btn hvr-hover" id="submit" type="submit">Done</button>

                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
