@model Tuple<IEnumerable<task_two.Models.Cart>, IEnumerable<task_two.Models.Prodact>>
@{
    ViewData["Title"] = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buy</h2>

@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;}
<table class="table">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                NameProdact
            </th>
            <th>
                Units
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            @if (item.id_user == id)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartProdactTrans.NameProdact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartProdactTrans.Units)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartProdactTrans.Price)
                    </td>

                </tr>
            }
            else
            {

            <td>
                <h1>null</h1>
            </td>
        }}
        <td>
            <a class="btn btn-flat btn-theme-colored mt-15 text-theme-color-2" asp-action="buy" asp-route-c="@id">Read More</a>
        </td>
        </tbody>
    </table>
