@model task_two.Models.Account
@{ ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml"; }



@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;}
@{
    var ProfilePic = ViewBag.ProPic;
    ProfilePic = "~/Image/" + ProfilePic;
}
<style>
    .edit-form-content {
        margin: 20px auto;
        width: 100%;
        max-width: 61%;
        padding: 59px 71px;
        height: 70%;
        background-color: transparent;
        box-shadow: 7px 8px 14px 3px rgb(0 0 0 / 30%);
        border-radius: 60px;
    }

    .form-control {
        box-shadow: none;
        height: 45px;
        border: 3px solid #1196CC;
        border-radius: 20px;
    }

    .btn-color:hover {
        background-color: #1196CC !important;
        color: #fff !important;
    }
</style>
<div class="container">
    <div class="edit-form-content">
        <form asp-controller="User" asp-action="Profiel" enctype="multipart/form-data">

            <!-- Form -->
            <div class="form-group">
                <input class="form-control" type="text" name="FName" id="FName" value="@Html.DisplayFor(modelItem => modelItem.Name)" placeholder=@Html.DisplayFor(modelItem => modelItem.Name)>
            </div>

            <div class="form-group">
                <input class="form-control" type="text" name="LName" id="LName" value="@Html.DisplayFor(modelItem => modelItem.UerName)" placeholder=@Html.DisplayFor(modelItem => modelItem.UerName)>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="Email" id="Email" value="@Html.DisplayFor(modelItem => modelItem.Email)" placeholder=@Html.DisplayFor(modelItem => modelItem.Email)>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="UName" id="UName" value="@Html.DisplayFor(modelItem => modelItem.Phone_number)" placeholder=@Html.DisplayFor(modelItem => modelItem.Phone_number)>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="Password" id="Password" value="@Html.DisplayFor(modelItem => modelItem.Password)" placeholder="***********">
            </div>
            <div class="form-group">

                <input name="ProfilePicture" type="file" id="ProfilePicture" accept="image/*" value="@Html.DisplayFor(modelItem => modelItem.ImageFile_back)" style="margin:0px 6px 2px 4px" />
            </div>

            <div class="submit-button text-center">

                <div class="submit-button text-center">
                    <input type="submit" name="signup" id="signup" class="btn hvr-hover btn-color" value="Profile" />
                </div>


            </div>
        </form>
    </div>
</div>

